*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;    
}

html,body{
    height: 100%;
    width: 100%;
    background: #313bd3;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}
#title{
    color: #fff;
    margin-bottom: 5px;
}
#container{
    border:#fff 3px solid;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#box-addTask{
    background-color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

#input-task{
    width: 80%;
    padding: 10px;
    outline: #7a7a7a 1px solid;
    border: none;
}

#btn-add{
    width: 19%;
    background: transparent;
    color: #313bd3;
    border: #313bd3 3px solid;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

#btn-add:hover{
    background: #313bd3;
    color: #fff;
}
#task-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#task-list li{
    background: #fff;
    padding: 4px;
    border: #fff 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-delete{
    background: #fff;
    border: #313bd3 3px solid;
    color: #313bd3;
    font-weight: bold;
    padding: 5px 7px;
    cursor: pointer;
    transition:.5s;
}

.btn-delete:hover{
    background: #313bd3;
    color: #fff;
}
#links{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

#links li a{
    color: #fff;
    text-decoration: none;
}
#links li a:hover{
    text-decoration:underline;
}